body {
width:100%;
}

.big-online, .big-offline, .small-online, .small-offline {

position:relative;
top:62px;
left:45px;
width: 15px;
height: 15px;
background: green;
border-radius:50%;	
border:2px solid #fff;	
}

.small-online, .small-offline { 

top:20px;
left:55px;
width: 8px;
height: 8px;

}

.big-offline, .small-offline {
	
background: rgba(0,0,0,0.4);	
}

.pending-product-name {
max-width: 10px;
	
}


.item-price-menu td{
	
min-width:50px;	
max-width:50px;
padding:10px;
	
}

.item-price-menu td button{
	
border:none;
border-radius: 5px;
padding:5px;
	
}
.invisible {

visibility: hidden;
	
}

.pending-transaction-avatar, .transaction-chat-avatar{
	
margin-left: 8px;
margin-top:10px;	
}

.transactions, .inactive-transactions {
display:inline-block;
margin: 10.3px;	
width: 300px;
height: 550px;	
background: #fff;
border-radius: 10px 0px 0px 10px;

}

.inactive-transactions {

	
height: 530px;	
	
}
.user-name {

font-weight: bold;
color:blue;	
	
}

.unread{

background:red;
color:#fff;
border-radius: 10px;
position: relative;
top: 27px;
left: -80px;
padding: 4px;	
	
}
.start-chat-button {
border-radius: 10px;
color:#fff;
background:green;
width:40px;
font-weight: bold;
padding: 5px;
margin-top: 5px;
	
	
}

.transaction-button,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{

position: fixed;
top: 400px;
right: 20px;
background: #fff;
color: #fff;
width: 50px;
height: 50px;
border-radius: 50%;		
box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
cursor:pointer;	
}

.pending-transaction-button{
top: 330px;
color: #fff;
font-weight: bold;
z-index: 20;	
}
.pending-transaction-chat-button {
	
top: 320px;	
	
}

.pending-transaction-button span, .pending-transaction-chat-button span{
position: relative;
top: 10px;
left: 10px;
font-size: small;	
}

.transaction-chat-button{
top: 480px;
color: #fff;
font-weight: bold;	
}

.transaction-chat-button span{
position: relative;
top: 10px;
left: 10px;
font-size: small;	
}

.chat-button, .details-button {

background:green;
width: 35px;
color:#fff;
padding:5px;
font-weight: bold;
border-radius: 5px;	
cursor:pointer;	
}

.chat-content{
	
width: 100%;
height:250px;
overflow-y: auto;
	
	
}

.chat-input{
border-top:1px solid #ddd;
}

.chat-input input{
outline: none !important;	
width: 250px;
border:none;
padding: 5px;
	
}

.authChat, .userChat, .false-paragraph {
color:#fff;
padding: 5px;
max-width: 300px;	
margin: 3px;
margin-bottom: 2px;
display:table;
clear:both;	
}

.userChat{
background: #DAF7A6;
border-radius: 0px 10px 10px 10px;	
color:#000;
float:left;		
}

.authChat{
background: red;

border-radius: 10px 0px 10px 10px;
float:right;	
}

.send-chat-icon{

position: relative;
top:5px;
cursor:pointer;
	
}

.details-button {

width:90px;	
	
}

.unread-chat {
cursor:pointer;
background: red;
color:#fff;
padding: 2px;
border-radius: 5px;	
position: relative;
top:24px;
left:-107px;	
}

.transaction-count {
	
color: #fff;
position: relative;
top: 10px;
left: 10px;
font-weight: bold;
font-size: small;	
}

.transaction-button div {
	
margin: 10px 0px 0px 10px;
font-weight: bold;
width: 30px;
	
}


#pending-home {
	
top: 480px;	
}

.suggestions{

background: red;
min-height: 200px;
width: 106.5%;

padding:20px;	
	
		
}

.hr {
width: 100%;
margin:auto;
border: 1px	solid red;
	
}

.shops{
display:inline-block;
background: #fff;
height: 430px;
width: 250px;
margin:35px;
border-radius: 5px 5px 5px 5px;	
	
		
}

button, .button, .start-chat-button, .unread, .user-name{

cursor:pointer;
font-weight: bold;	
	
	
}

.hidden {
	
display:none;	
	
}

.loader {
	
position: fixed	;
top: 0px;
left:0px;
width: 100%;
height: 100%;
background: #fff;	
z-index: 50;
font-weight:bold;
}

.loader img {
position: fixed;	
top: 30%;
left:45%;	
	
}

.loader span {
	
position: fixed;	
top: 39%;
left:43%;		
	
}

.product-icon {
	
font-weight:bold;
font-size: 40px;
	
}
.plus-bar {
	
display: block;
position: absolute;
width: 35px;
right: 2px;
top:-10px;
cursor:pointer;
	
}
.big-add {
	
width: 100px;
height: 100px;
margin: auto;
cursor:pointer;
margin-bottom: 100px;
color: #fff;
background: red;
border-radius: 50%;	
font-weight: bold;
font-size: 100px;
/* Add shadows to create the "card" effect */
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    	
}

.big-add center{ 
position: relative;
top: -7px;


}

#onApp button, #offApp button, #onStore button, #offStore button {

border-radius: 25px;
border: none;
box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.2);	
color: #fff;	
cursor: pointer;
	
}

.menu-add {
color:#fff;	
font-weight:bold;
font-size: 50px;
	
}

.office {
	
border-radius: 25px;
background: #fff;
color: #000;
width: 300px;
height:110px;
padding-top: 1px;
margin: auto;	
	
/* Add shadows to create the "card" effect */
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.grey-button{
	
border-radius: 25px;
background: #fff;
color: #000;
width: 100px;	
	
/* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.grey-button:hover {
	
cursor:pointer;	
	
}

.products p {
font-weight: bold;
margin-left: 5px;
padding:5px;
padding-left:5px;	
	
}

.products span {

padding-left:5px;	
	
}

div:hover, div, body, button{

outline: none !important;

}


.menu-bar{
display: block;
position: absolute;
width: 35px;
right: 2px;
top:2px;

	
}

.image-picker {
border-radius: 10px;
background: #fff;
color: #000;
padding: 5px;
border: 1px solid #ddd;
cursor:pointer;

	
}

.addProductButton:disabled {

color: rgba(255,0,0,0.3);
background:#000;	
	
}

.uploaded_file_container #uploadInfo {
font-size:25px;
cursor:pointer;
}

.uploaded_file_container:hover #uploadInfo {


}

.uploaded_file_container {

margin-top: 20px;	
	
}


a {
	
cursor:pointer;
	
}

.learn-more {
font-size: small;
text-decoration: underline;	
	
}








@media only screen and (min-width: 641px) {

.plus-bar {
display: none;	
	
}

#hide {

display:block;


}

.header{

height:200px;

}	
	
}


.form-container .logo img {

margin-left:50px;
margin-top: 20px;		
}


@media only screen and (min-width: 0px) {


body {
	background: #fff;
	width: 100%;
	font-family:  Roboto;

}


.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:0px; 
width: 97.05%;

padding:20px;
padding-top: 5px;	
	
}

.navigation-links{

	
}

.navigation-links li{
list-style-type:none;
margin:10px;
margin-left:0px;
padding:10px;
padding-left:0px;
color: #fff;
font-weight:bold;
cursor:pointer;
border-bottom: 2px solid transparent;
display: inline-block;
}

.navigation-links li:hover{
	
border-bottom: 2px solid #fff;	
	
	
}

li button {
	background: transparent;
	border:none;
	color: #fff;
	font-weight:bold;
	outline: none !important;
	cursor:pointer;
	
}

#main-search input {
	
padding: 5px;
font-weight: bold;
border:none;
margin:5px;
color: rgba(0,0,0,0.5)
	
}

[v-cloak] {

display: none;	
	
}

#main-search img {

cursor:pointer;	
position: relative;
left:20px;
	
}

#main-search {
background:#fff;
width: 40%;
padding: 5px;
border-radius:25px;
	
}

.fake-search-input{
	
background: #fff;
display: inline-block;
color:rgba(0,0,0,0.5);
padding: 10px 50px 10px 10px;
border-radius: 10px;
margin:5px;
	
}

.search-icon {
position:relative;	
left:-40px;
top:5px;	
	
}
.content-body {
	
position:absolute;
top:250px;
width:90%;
	
}

.product-price table tr td, #login-page table tr td{
	
padding:5px;
padding-left: 0px;	
	
}

.product-price {
	
position: fixed;	
top: 180px;
left: 5%;
width: 300px;
height: 350px;
overflow-y: auto;
background:rgba(255,0,0,0.9);
color: #000;

}

.price-menu {
	
width: 80%;
background:#fff;
min-height: 250px;
border-radius:10px;
margin: auto;
margin-top: 20px;	
margin-bottom: 20px;	
padding: 15px;	
}

.hide-price {
font-weight: bold;
float:right;
color:rgba(0,0,0,.7);
}

.hide-price:hover{
	cursor: pointer;
	color:#000;
}



hr{
	border:none;
	
}


/* for products and categories */

.products {
	
width: 100%;
margin:auto;
margin-left: 124px;

}

.products div {
background:#fff;
color:#000;	
vertical-align: top;
width:200px;
margin:20px;
border-radius: 10px 10px 0 0;

 /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
		
	
}


.products div:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);	
	
}

.products div img{

border-radius: 10px 10px 0 0;	
	
	
}

.products div .product-details{

width: 70%;
border-radius: 0px;
border:none;
box-shadow: 0 0 0 0;	
}

.product-details button{

color:#fff;
width: 40px;
font-weight:bold;
border:none;
border-radius:25px;
padding: 10px ;
outline: none !important;
font-size:small;	
cursor: pointer;
	
}



.others{
position:relative;
left:-7px;	
width:111%;
background:#ddd
	
}


/* Style Chat Box */

.chat-box {
	
	position: fixed;
	top: 200px;
	left:40%;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:500px;
	height:400px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chatBody{
	
	overflow-y:auto;
	height:300px;
}

.chat-box input {
	
	width:90%;
	margin-top: 5px;
	border:none;
	outline: none !important;
}

.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 515px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 10px 0px 0px 490px ;
}

.chat-box .close span:hover{
color:#000;
}


.myChat, .theirChat{
margin: 3px;
max-width:450px;	
min-width:50px;
border-radius:25px;	
padding-left: 10px;
padding-right:5px;
display: inline-block;

}

.chatWidth {
	
	
}

.myChat{
background:rgba(146,208,80,0.5);
color:#000;
position:relative;
left:0px;

}

.theirChat{
background:#eee;



}

.chatBody {
	
	height: 300px;
	overflow-y:scroll;
	
	
}
/* Copied from welcome.css */


.welcome-search-page, .start-selling {
	
position: absolute;
top: -300px;
left:-10px;
width:111.6%;
background: rgba(0,0,0,0.9);
color:#fff;
height:5000px;
}

.welcome-search-page {
	
width:111.6%;	
	
}

.start-selling {
	
position: absolute;
height:5000px;	
	
}

.form-container {
	
position: absolute;
top: 50px;
left:30%;
background: #fff;
color: red;
min-height: 200px;
padding:1px;
border-radius:25px;
width: 40%;

}

.start-selling .close:hover {
background: red;	
	
}

.start-selling .close {
	
background: #000;
padding:10px;
top:20px;
border-radius:25px;
	
}

.form-container form, .form-container .form{
	

margin-left: 15%;
margin-top: 50px;	

	
}


.form-container form input, .form-container .form textarea,  .form-container .form input{
	
width: 100%;
max-width: 500px;
height:	20px;	
padding-left:5px;
margin: 5px;
border: 1px solid red;
border-radius: 5px;
outline: none !important;
}

.form-container .form select {
	
margin:10px;
height: 30px;
border-radius:5px;	
margin-left: 5px;
outline: none !important;	
border: 1px solid red;	
}

.form-container .form button {
	
	margin:10px;
	font-size: 10px;
	margin-left: 5px;
}

.form-container form td{
max-width: 500px;	
	
}

.form-container button {
	
margin:5px;	
background: #fff;
color: rgb(255,0,0);
border: none;
font-weight:bold;
padding: 10px;
border: 2px solid red;
border-radius:5px;	

	
}

.form-container button:hover {
	
background: #eee;	
	
}

.form-message {

font-size: 20px;
margin: 10px;	
	
}

.close{
position: fixed;
right: 20px;
top: 10px;
font-size: 20px;
cursor: pointer;
}

.search-message {
font-weight: bold;
font-size: 25px;
position: relative;
top: 60px;
left: 25%;
width:50%;

}

.search-box {

position:relative;
top:100px;
left:18%;
background:#fff;
width:60%;
height: 50px;
padding:20px;
border-radius: 25px;
border: 1px solid red;
}

.search-box input{

width: 80%;
height: 45px;
border:none;
padding-left: 10px;
font-weight:bold;
font-size: large;
margin-left:10%;
border: 1px dotted red;

}

.main-search-icon, .panafri-icon{

position:relative;
top:30px;
left:75%;
z-index:5;


}

#search-page .categories {
position: relative;	
top:100px;
margin-left: -30px;
width:90%	
}


.panafri-icon{
left:16%;	
	
}

/*Scollbar Css*/


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red; 
}


/* Handle Forms */

.form-container {
	top:100px;
	min-height:400px;
	
}

.learn-more {
text-decoration:underline;
cursor:pointer;	
	
}

#login-page {

width: 100.5%;	
	
}

#login-page .form-container {
position: relative;	
top:400px;
left:30%;	
	
}


.add-product .form-container {
	
top: 350px;	
}
	
}


.add-product{
	
width: 1250px;	
}

@media only screen and (max-width: 384px) {
	


.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 84%;

padding:20px;
padding-top: 5px;	
	
}	
	

	
/* for products and categories */

.products {
	
width: 100%;
margin-left: -5px;

}



.others{
position:relative;
left:-7px;	
width:92.5%;
background:#ddd;

}

h1 {
	
font-size:15px;	
	
}



	
	
}


@media only screen and (max-width: 1024px) {

#login-page .form-container form input {
	
width: 300px;	
}
	
.add-product{
	
width: 1048px;	
}

	
	
}

@media only screen and (max-width: 800px) {

.loader span {
		
top: 35%;
left:42%;		
	
}

.inactive-transactions, .transactions{
	
margin-left:3%;
width:320px;
}

.shops{

margin:10px;
margin-left:30px;
width: 300px;
	
		
}

.suggestions{

width: 103%;	
		
}

#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:10px;
width:30px;
}

.items-wrapper {
width: 89%;
height: 500px;
margin: 5px;
margin-top: 20px;
height:700px;
}

.transaction-count,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#fff;
}
	
.pending-transactions {	
color:#fff;	
}
.category-title input{
	
width: 130px;
	
}

.items-container {
	
margin-left:10px;
width: 320px;
	
}


#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
width: 600px;	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 300px;
	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 300px;
}


.chat-box {
	
	position: fixed;
	top: 500px;
	left:20px;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:900px;
	height:700px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box input {
font-size:25px;	
	
}
.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 720px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;
	
}

.chatBody{
height:570px;	
	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 50px 0px 0px 650px;
overflow-y: auto;
font-size:30px;
}

.myChat, .theirChat{
font-size:25px;

}

.form-container {

top:80px;
left:9px;

min-height: 900px;
}

.form-container form{

margin-left:-70px;
top: 250px;

}

.form-container table td{
	max-width:50px;
}

.form-container form input{

width: 250px;

}


.product-container {

width: 500px;
margin-left:7%;

}

.form-container form{

margin-left:-70px;
top: 150px;

}

.form-container form input{

width: 500px;

}

.add-product{
	
width: 810px;	
}

.product-container .form input{

width:300px;
height: 30px;

}

.product-container .form textarea{
	
width: 300px;
height: 60px;	
	
}

.product-container table tr td{
	
	min-width: 200px;
	
}
	
.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 96.8%;

padding:20px;
padding-top: 5px;	
	
}	
	
.products div, .product div img {
width:500px;
		
	
}

.products div .product-details{
	
margin-left: 5px;	
	
}

.products div {
	
margin-left: 70px;
	
}

.products {
	
width: 100%;
margin-left: -20px;



}

.others{
position:relative;
left:-8px;	
width:101%;
background:#ddd;

}

}
@media only screen and (max-width: 768px) {

.loader span {
		
top: 36%;
left:42%;		
	
}

.add-product{
	
width: 778px;	
}

.product-container .form input{

width:300px;
height: 30px;

}

.product-container .form textarea{
	
width: 300px;
height: 60px;	
	
}

.product-container table tr td{
	
	min-width: 200px;
	
}	
	
}

@media only screen and (max-width: 640px) {
	
.inactive-transactions, .transactions{
	
margin-left:2px;
width:270px;
}


.shops{

margin:10px;
margin-left:10px;
width: 250px;
	
		
}

.suggestions{

width: 100%;	
		
}

#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:10px;
width:30px;
}

.items-wrapper {
width: 89%;
height: 500px;
margin: 5px;
margin-top: 20px;

}

.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
top: 80px;
}

.transaction-button {

top: 160px;	
	
}

.transaction-chat-button {

top: 240px;	
	
}



#pending-home{
	
top:240px;	
}

.transaction-count,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#000;
}
	
.pending-transactions {	
color:#fff;	
}


.category-title input{
	
width: 130px;
	
}



.items-container {
	
margin-left:20%;
width: 350px;	
	
}

	
#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
width: 550px;	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 300px;
	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 300px;
}



.chat-box {
	
	position: fixed;
	top: 200px;
	left:30px;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:500px;
	height:700px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box input {
font-size:21px;	
	
}
.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 520px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;
	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 50px 0px 0px 480px;
overflow-y: auto;
font-size:30px;
}

.myChat, .theirChat{
font-size:25px;

}

.form-container {

top:100px;
min-height: 700px;
}

.product-container {

width: 500px;
margin-left:7%;

}

.form-container form{

margin-left:-70px;
top: 150px;

}

.form-container form input{

width: 500px;

}

.add-product{
	
width: 650px;	
}

.product-container .form input{

width:300px;
height: 30px;

}

.product-container .form textarea{
	
width: 300px;
height: 60px;	
	
}

.product-container table tr td{
	
	min-width: 200px;
	
}

.search-message {
font-weight: bold;
font-size: 20px;
position: fixed;
top: 30px;
left:5px;

}

.search-box {

position:fixed;
top:100px;
left:5px;;
background:#fff;
width:90%;
height: 50px;
padding:5px;
border-radius: 25px;
border: 1px solid red;
}

.search-box input{

width: 80%;
height: 45px;
border:none;
padding-left: 10px;
font-weight:bold;
font-size: 10px;
margin-left:10%;
border: 1px dotted red;

}

.main-search-icon, .panafri-icon{

display:none;
position:fixed;
top:90px;
left:75%;
z-index:5;


}

#search-page .categories {

position: relative;	
top:170px;
height: 500px;
overflow-y: auto;
margin: auto;	
}



.panafri-icon{
left:20%;	
	
}	


.hidden {

display:none;	
	
	
}	

.content-body {
	
	top:80px;
	
}

.menu-bar:hover{

background:rgb(0,0,0,0.5);
}

.menu-bar div {

height: 3px;
width: 25px;
background: #eee;
margin: 5px;	
	
}
	
.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 95.6%;

padding:20px;
padding-top: 5px;	
	
}	
	
.products div {
width:400px;		
margin-left:100px;
}



.products {
	
width: 100%;



}

.products div img{

width:400px;	
	
	
}



.others{
position:relative;
left:-8px;	
width:110.9%;
background:#ddd;

}
	
	
}

@media only screen and (max-width: 600px) {

.loader span {
		
top: 36%;
left:40%;		
	
}
	
.inactive-transactions, .transactions{
	
margin-left:15%;
width:400px;
}

.shops{

margin:10px;
margin-left:60px;
width: 400px;
	
		
}

.suggestions{

width: 100%;	
		
}

.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
top: 280px;
}

.transaction-button {

top: 350px;	
	
}

.transaction-chat-button {

top: 430px;	
	
}



#pending-home{
	
top:450px;	
}


#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:10px;
width:30px;
}

.items-wrapper {
width: 89%;
height: 500px;
margin: 5px;
margin-top: 20px;
height:700px;

}

.transaction-count,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#000;
}
	
.pending-transactions {	
color:#fff;	
}
.category-title input{
	
width: 130px;
	
}

.items-container {
	
margin-left:20%;
width: 350px;	
	
}

	
.add-product{
	
width: 610px;	
}
	
	
}

@media only screen and (max-width: 480px) {

.loader span {
		
top: 37%;
left:40%;		
	
}

.inactive-transactions, .transactions{
	
margin-left:10px;;
width:400px;
}

.shops{

margin:10px;
margin-left:10px;
width: 400px;
	
		
}

.suggestions{

width: 97%;	
		
}

.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
top: 280px;
}

.transaction-button {

top: 350px;	
	
}

.transaction-chat-button {

top: 430px;	
	
}



#pending-home{
	
top:450px;	
}


#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:10px;
width:30px;
}

.items-wrapper {
width: 89%;
height: 500px;
margin: 5px;
margin-top: 20px;
height:700px;
margin-left: 50px;
}

.transaction-count,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#000;
}
	
.pending-transactions {	
color:#fff;	
}
.category-title input{
	
width: 130px;
	
}

.items-container {
	
margin-left:5px;
width: 350px;	
	
}

#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
width: 450px;	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 300px;
	
}

#login-page .form-container form input {
	
width: 350px;	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 300px;
}


.chat-box {
	
	position: fixed;
	top: 200px;
	left:20px;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:300px;
	height:400px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box input {
font-size:15px;	
	
}
.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 315px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;
	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 50px 0px 0px 290px;
overflow-y: auto;
font-size:25px;
}

.myChat, .theirChat{
font-size:25px;

}

.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 94.5%;

padding:20px;
padding-top: 5px;	
	
}	
	

	
/* for products and categories */

.products {
	
width: 100%;

margin-left: -5px;

}

.products div, .products div img{
width:330px;		

}

.products div {
margin-left:7px;	
	
}

.others{
position:relative;
left:-8px;	
width:101.55%;
background:#ddd;

}

h1 {
	
font-size:15px;	
	
}



.add-product{
	
width: 490px;	
}




.product-container .form input{

width:200px;
height: 30px;

}

.product-container .form textarea{
	
width: 200px;
height: 60px;	
	
}

.product-container table tr td{
	
	min-width: 200px;
	
}

.product-container {
	
	width:400px;
}
	
}

@media only screen and (max-width: 414px) {

.loader span {
		
top: 39%;
left:39%;		
	
}

.suggestions{

width: 95%;		
}



.inactive-transactions, .transactions{
	
margin-left:20px;
width:300px;
}


.items-container {
	
margin-left:40px;
width: 300px;	
	
}

#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:-3px;
width:30px;
}

.items-wrapper {
width: 89%;
height: 500px;
margin: 5px;
margin-top: 20px;

}

.transaction-count,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#000;	
}

.pending-transactions {	
color:#fff;	
}

.shops {
width:300px;
margin:20px;	
	
}


#login-page .form-container form input {
	
width: 300px;	
}

#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
width: 340px;	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 300px;
	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 300px;
}



.chat-box {
	
	position: fixed;
	top: 200px;
	left:5px;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:380px;
	height:400px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 395px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 50px 0px 0px 370px;
overflow-y: auto;
}

.form-container {

top:80px;
left:9px;
width: 355px;
min-height: 400px;
}

.form-container form{

margin-left:-70px;
top: 250px;

}

.form-container table td{
	max-width:50px;
}

.form-container form input{

width: 260px;

}


.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 94%;

padding:20px;
padding-top: 5px;	
	
}	

.product-container {
	
	width:360px;
}

.add-product{
	
width: 421px;	
}

.product-container .form input{

width:200px;
height: 30px;

}

.product-container .form textarea{
	
width: 200px;
height: 60px;	
	
}

.product-container table tr td{
	
	min-width: 200px;
	
}	



#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 300px;
	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 300px;
}
	
}


@media only screen and (max-width: 384px) {

.loader span {
		
top: 39%;
left:39%;		
	
}

.suggestions{

width: 95%;
		
}

.inactive-transactions, .transactions{
	
margin-left:5px;
width:300px;
}


.items-container {
	
margin-left:2px;
width: 300px;	
	
}

#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:-3px;
width:30px;
}

.items-wrapper {
width: 89%;
height: 500px;
margin: 5px;
margin-top: 20px;

}

.transaction-count,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#000;	
}

.pending-transactions {	
color:#000;	
}

.shops {
width:300px;
margin:5px;	
	
}
	
	
#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
width: 350px;	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 300px;
	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 300px;
}


	
.add-product{
	
width: 394px;	
}

.product-container .form input{

width:200px;
height: 30px;

}

.product-container .form textarea{
	
width: 200px;
height: 60px;	
	
}

.product-container table tr td{
	
	min-width: 200px;
	
}

.chat-box {
	
	position: fixed;
	top: 100px;
	left:20px;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:330px;
	height:500px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box input {
font-size:15px;	
	
}

.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 350px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;
	
}

.chatBody{
height:400px;	
	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 50px 0px 0px 315px;
overflow-y: auto;
font-size:30px;
}

.myChat, .theirChat{
font-size:15px;

}

	
.form-container {

top:80px;
left:9px;
width: 325px;
min-height: 400px;
}

.form-container form{

margin-left:-70px;
top: 250px;

}

.form-container table td{
	max-width:50px;
}

.form-container form input{

width: 260px;

}


.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 93.2%;

padding:20px;
padding-top: 5px;	
	
}

.others{
position:relative;
left:-8px;	
width:102%;
background:#ddd;

}	
	
	
}


	
@media only screen and (max-width: 360px) {

.loader span {
		
top: 39%;
left:38%;		
	
}

.suggestions{

width: 95%;
		
}



.inactive-transactions, .transactions{
	
margin-left:5px;
width:300px;
}


.items-container {
	
margin-left:0px;
width: 300px;	
	
}

#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:-3px;
width:30px;
}

.items-wrapper {
width: 89%;
height: 500px;
margin: 20px;
margin-top: 50px;

}

.transaction-count,.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#000;	
}

#pending-home {
	
top: 430px;	
}

.pending-transactions {	
color:#000;	
}

.shops {
width:300px;
margin:5px;	
	
}


.category-title input{
	
width: 130px;
	
}

#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
width: 340px;	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 300px;
	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 300px;
}




.chat-box {
	
	position: fixed;
	top: 130px;
	left:20px;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:300px;
	height:500px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box input {
font-size:15px;	
	
}
.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 315px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;
	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 50px 0px 0px 290px;
overflow-y: auto;
font-size:25px;
}

.myChat, .theirChat{
font-size:15px;

}


.form-container {

top:80px;
left:9px;
width: 300px;
min-height: 400px;
}

.form-container form{

margin-left:-70px;
top: 250px;

}

.form-container table td{
	max-width:50px;
	padding-right:10px;
}
.form-container form input{

width: 250px;

}


	
.fake-search-input{
position:relative;	
background: #fff;
display: inline-block;
color:rgba(0,0,0,0.5);	
padding: 10px 50px 10px 10px;
border-radius: 10px;
left:-1px;
	
}

.search-icon {
display:block;
position:relative;	
left:110px;
top:-35px;
	
}


.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 93%;

padding:20px;
padding-top: 5px;	
	
}

.search-message {
font-weight: bold;
font-size: 20px;
position: fixed;
top: 40px;
left:0px;

}

.search-box {

position:fixed;
top:100px;
left:5px;;
background:#fff;
width:90%;
height: 50px;
padding:5px;
border-radius: 25px;
border: 1px solid red;
}

.search-box input{

width: 80%;
height: 45px;
border:none;
padding-left: 10px;
font-weight:bold;
font-size: 10px;
margin-left:10%;
border: 1px dotted red;

}

.main-search-icon, .panafri-icon{
display:none;
position:fixed;
top:90px;
left:75%;
z-index:5;


}

#search-page .categories {
position: relative;	
top:170px;
height: 380px;
overflow-y: auto;
margin: auto;	
}



.panafri-icon{
left:20%;	
	
}	
	
.others{
position:relative;
left:-8px;	
width:111%;
background:#ddd;

}

.add-product{
	
width: 370px;	
}


	
}
@media only screen and (max-width: 320px) {

.loader span {
		
top: 41%;
left:38%;		
	
}

.suggestions{

width: 90%;
		
}



.inactive-transactions, .transactions{
	
margin-left:5px;
width:250px;
}


.items-container {
	
margin-left:0px;
width: 300px;	
}


#main-search {
background:#fff;
width: 80%;
border-radius:5px;	
}

#main-search img {

left:5px;
top:-3px;
width:30px;
}

.items-wrapper {
width: 100%;
height: 500px;
margin: 20px;
margin-top: 40px;
margin-left:10px;

}

.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
color:#000;	
top: 200px;
}

#pending-home {
	
top: 420px;	
}

.transaction-button {
	
	top: 350px;
}

.search-icon {
position:relative;	
left:80px;	
	
}

.transaction-chat-button {
	
	top: 270px;
	
}

.pending-transaction-chat-button {
	
top:260px;	
}

.pending-transactions {	
color:#000;	
}

.shops {
width:250px;
margin:5px;	
	
}

#login-page .form-container form input {
	
width: 220px;	
}
	
#login-page {

width: 101.5%;	

}

#login-page .form-container {
position: relative;	
top:400px;
left:5%;	
width: 300px;	
}

#login-page .form-container form{
position: relative;	
top:0px;
left: 80px;	
}

#login-page .form-container table tr td{
	
min-width: 250px;
	
}


#login-page .form-container table, #login-page .form-container form{
	
max-width: 250px;
}


.add-product{
	
width: 330px;	
}




.product-container .form input{

width:200px;
height: 30px;

}

.product-container .form textarea{
	
width: 200px;
height: 60px;	
	
}

.product-container table tr td{
	
	min-width: 200px;
	
}

.chat-box {
	
	position: fixed;
	top: 70px;
	left:20px;
	background:#fff;
	font-size: small;
	padding: 10px;
	width:270px;
	height:400px;
	
	border:1px solid #eee;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chat-box input {
font-size:15px;	
	
}
.chat-box .close {
cursor:default;	
position: relative;	
left:-10px;
top:-10px;
width: 286px;
height: 50px;
border-bottom: 1px solid #eee;
padding-left:5px;
background:red;
border-radius: 10px 10px 0px 0px;
	
}

.chat-box .close span{
color:#ddd;
cursor:pointer;
margin: 50px 0px 0px 245px;
overflow-y: auto;
font-size:25px;
}

.myChat, .theirChat{
font-size:15px;

}

#search-page .categories {

top:150px;

}

.form-container {

top:80px;
left:5px;
width: 270px;
min-height: 300px;
}

.form-container form{

margin-left:-60px;
top: 250px;


}

.form-container table td{
	max-width:60px;
}

.form-container form input{

width: 200px;

}

.product-container {
width: 285px;	

}
	

	
.fake-search-input{
position:relative;	
background: #fff;
display: inline-block;
color:rgba(0,0,0,0.5);	
padding: 10px 50px 10px 10px;
border-radius: 10px;
left:-0.5px;
font-size:small;
	
}



.header {
background:rgb(255,00,0);
position: absolute;
top:0px;
left:-15px; 
width: 92%;

padding:20px;
padding-top: 5px;	
	
}	
	

	
/* for products and categories */

.products {
	
width: 90%;
margin-left: -5px;

}

.products div, .products div img{
width:290px;		

}

.products div {
margin-left:7px;	
	
}

#search-page .categories {
position: relative;	
top:170px;
left: 10px;
height: 380px;
overflow-y: auto;
margin: auto;	
}

.product-details h2, .product-details button{
	
margin-top:-20px;	
}

.others{
position:relative;
left:-8px;	
width:111%;
background:#ddd;

}

h1 {
	
font-size:15px;	
	
}



	
	
}

@media only screen and (max-height: 360px) {

.pending-transaction-chat-button, .pending-transaction-button, .transaction-chat-button{
top: 200px;
}

.pending-transaction-button{
	
top:120px;	
}

.transaction-button {

top: 190px;	
	
}

.transaction-chat-button {

top: 270px;	
	
}

.pending-transaction-chat-button {

top: 210px;	
	
}


#pending-home{
	
top:290px;	
}

.product-price {

top: 5px;	
	
}

.items-wrapper {
height: 300px;
}

.products div, .products div img{

width:400px;	
	
}

.products {
	
width:600px;	
min-height: 200px;
}

.seller-products{
	
display: inline-block;	

}

.form-container {

top:10px;
left:9px;
max-height: 100px;
}

}


.spinner_wrapper{
width:100px;
height:100px;
background: #ccc;
margin:5px;
float:left;


}
.spinner {
width:70px;
height:70px;
border: 2px solid #f3f3f3;
border-top: 3px solid rgb(0,51,0);
border-radius: 50%;
margin: auto;
margin-top: 15px;


animation: spin 1s infinite linear

}

@keyframes spin {
	from {
	transform: rotate(0deg);
	} to {
	
	transform:rotate(360deg);
	}
	
	}
	
.post_spinner_wrapper{
background: transparent;
width:15px;
height:15px;
margin:5px;
float:right;
margin-top:10px;
}
.post_spinner {
width:15px;
height:15px;
border: 2px solid #f3f3f3;
border-top: 1px solid  rgb(0,51,0);
border-radius: 50%;
margin: auto;



animation: spin 0.2s infinite linear

}

@keyframes spin {
	from {
	transform: rotate(0deg);
	} to {
	
	transform:rotate(360deg);
	}
	
}

	

.product-container table tr td{
	
	min-width: 200px;
	padding-top: 10px;
	
}

.form-close{
	
float: right;
margin-top: 7%;
margin-right: 5%;
font-weight:bold;
cursor:pointer;
color: #ddd;	
	
}

.form-close:hover{ 
color: #000;
}

