body {

background:#fff;	
	
}

.content-title {
font-size:25px;	
}

.main-category-result {
display: inline-block;
margin:5px;
font-size:10px;	
}

.category-image {
width:80px;
height:80px;
border-radius:50%;	
	
}

.category-name {
margin-left: 10px;
	
}

.call-partner {

position:fixed;
top:0px;
left:0px;
background:red;
color:#fff;
width:100%;
height:100%;
border:1px solid #eee;	
z-index:25;		
}

#remove-contact {

position:fixed;
top:10px;
right:10px;
color:#ddd;
cursor:pointer;
z-index:26;	
	
}

.search-result-container{
	
position:absolute;
top:100px;
left:0px;
width:100%;
min-height:100%;
background:#eee;	
padding-left:0px;		
}

.no-result {
 position: absolute;
 top:100px;
 left: 200px;
 font-size:40px;
	
}

.product-search .panafri-logo {

margin:2px;	
	
}

.search-title {

position:absolute;
top: 5px;
left:70px;
font-size:30px;
	
}

.main-search-result {
position:relative;	
width: 150px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:20px;
margin-right:0px;
border-radius:5px;
}

.product-image {
width:100%;
min-height:100px;
max-height:100px;	
	
}

.product-name, .new-product-description, .send-request {
position:absolute;
top:100px;
left:5px;
font-size: 10px;	
	
}


.new-product-price {
position:absolute;
top:112px;
right:5px;
font-size: 20px;
color:green;
	
}

.new-product-description{

top:140px;
left:0px;
width:100%;
height:10px;	
background:red;
color:#fff;	
font-weight:bold;
padding-left:70px;

}

.new-product-description {

padding-left:5px;
font-size:10px;	
height:15px;
	
}

.send-request, .view-seller {

position: absolute; 
top:163px;
left:30%;
background:green;
width:65px;
border-radius:10px;
padding:5px;
color:#fff;	
font-size: 9px;
border:1px solid #eee;
border-left: 1px solid #eee;
border-right: 1px solid #eee;
border-radius: 5px;
cursor:pointer;	
}

.send-request:hover, .view-seller:hover {

background:#eee;	
	
}

.send-request span{

	
	
}

.view-seller {
 left:140px;
 width:130px;
}

#post_spinner{

position:fixed;
top:300px;
left:700px;
width:100px;
height:100px;
background:#fff;
border-radius:5px;	
}

#post_spinner div {
	
position:absolute;
top:40px;
left:40px;	
	
}

.spinner-modal {	
	
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
background: rgba(0,0,0,.3);

}

.product-results{
	
position:absolute;
width:475px;
top:420px;
left:200px;
background:#fff;
border:1px solid red;
padding-top:10px;	
}

.location-results{
	
position:absolute;
width:430px;
top:420px;
right:400px;
background:#fff;
border:1px solid red;	
padding-top:10px;
}

.product-results p, .location-results p{
	
width:100%;
padding:5px;
background:#eee;	
cursor:pointer;	
font-size:20px;
}

.product-results div, .location-results div{
	
width:100%;
padding:5px;
background:#fff;
font-size:20px;
}


#login-form-holder, #register-form-holder {
	
	position:absolute;
	top:100px;
	left: 450px;
	background:#fff;
	border: 20px solid red;
	border-radius:5px;
	width:500px;
	height:400px;

}

.register-form-error, .login-form-error {
position:absolute;
top: 570px;
left:-20px;	
background:red;
color:#fff;
width:500px;
height:30px;
font-size:20px;	
border-radius:5px;
}

#register-login, #login-register, #recover-password {
	
	position: absolute;
	top:400px;
	left:50px;
	
}

.login-form-error {
	
	top:470px;
	
}

 #login-register {
top: 290px;	
	
 }
 
 #recover-password {

 top: 320px;
 
 }

#register-form-holder {

height:500px;	
	
}

#type-register-phone, #type-register-confirm, #type-register-name {

position:absolute;
top: 100px;	
left:50px;

font-size:30px;

}

#type-register-name {
	
top: 30px;	
	
}

#type-register-phone input, #type-register-confirm input, #type-register-name input {

width:300px;
box-shadow:none;
font-size: 20px;
position:relative;
top: -5px;
left:10px;
border:none;
border-right:1px dotted;
}

#type-register-confirm input:focus, #type-register-name input:focus, #type-register-phone input:focus {
border:none;
border-bottom: 2px solid red;	
	
}


#type-login-email, #type-register-email {

position:absolute;
top: 100px;	
left:50px;

font-size:30px;

}

#type-register-phone {

top:170px;	
	
}



#type-login-email input, #type-register-email input {

width:300px;
box-shadow:none;
font-size: 20px;
position:relative;
top: -5px;
left:10px;
border:none;
border-right:1px dotted;
}

#type-login-email input:focus, #type-register-email input:focus {
border:none;
border-bottom: 2px solid red;	
	
}

#type-login-password, #type-register-password {

position:absolute;
top: 200px;	
left:50px;

font-size:30px;

}

#type-register-password {

top:240px;	
	
}

#type-register-confirm {

top:310px;	
	
}

#type-login-password input, #type-register-password input {

width:300px;
box-shadow:none;
font-size: 20px;
position:relative;
top: -5px;
left:10px;
border:none;
border-right:1px dotted;

}

#type-login-password input:focus, #type-register-password input:focus {
border:none;
border-bottom: 2px solid red;	
	
}



#login-button, #register-button {

position:absolute;
top: 400px;	
left:-20px;
color:red;
width: 500px;
height:50px;
color:#fff;
background: red;
border:none;
border-radius: 5px;
font-size: 20px;
	
}

#register-button {
	
	top:500px;
	
}


.container {
background:#fff;
position: absolute !important;
top:0px;
left:0px;
height:100%;
width:100%;
}

.content-header {

background:red;
position: absolute !important;
top:0px;
left:0px;
height:49px;
width:100%;
z-index:2;	
}

#add-product-plus {

position:absolute;
top:-25px;
right: 50px;
font-size:50px;	
color:#fff;
cursor:pointer;
	
}

.add-a-product, .add-a-service {
	
position:relative;
background:#ddd;
width: 400px;
height: 400px;
border:1px dotted #000;
color: rgba(0,0,0,0.5);
display: inline-block;
margin:5px;
top:100px;
left: 300px;
cursor:pointer;	
	
}

.add-message{
	
position: relative;
top:150px;
left:110px;
margin:5px;
font-size:20px;	
}

 .plus {
	
position: relative;
top:125px;
left:185px;
margin:5px;
font-size:80px;	
	
}

#service-page, #product-page {
	
position:absolute;
top: 0px;
left:-2000px;
background:#fff;
width:100%;
height:100%;
z-index:5;
transition: left 1s;
-webkit-transition: left 1s;
}

.upload-product-image {

position: absolute;
top: 100px;
left: 100px;	
width: 400px;
height: 400px;
border:1px dotted #000;
background:#eee;	
cursor:pointer;	
}

#uploadedContainer{
	
position:absolute;
top:100px;
left:100px;
z-index:5;
background:#ddd;
width:400px;	
	
}

#uploadedContainer #deletePhoto {
position:absolute;
top: 0px;
right:0px;
background:red;
color:#fff;
width: 30px;
height:30px;
cursor:pointer;	
	
}

#uploadedContainer #deletePhoto span {
position:absolute;
top:0px;
right:10px;
color:#fff;
font-size: 20px;	
	
}

.showUploaded img {

width:400px;
height:auto;
max-height:400px;	
	
}

#select-product-category {

position: absolute;
top:100px;
left:600px;
background:#fff;
border: 1px solid red;
color:red;
font-size:20px;
padding:5px;	
}

#select-product-category select{
padding:5px;
background:#fff;
border: 1px solid red;
color:#000;
width: 300px;
font-size: 20px;
border: none;
border-left: 1px solid red;	
outline:none !important;
}

#type-product-name {
	
position: absolute;
top: 170px;
left: 600px;
background:#fff;
border: 1px solid red;
color:red;
font-size:20px;
margin:auto;
padding:5px;
}

#type-product-name input{
padding:2px;
background:#fff;
border: 1px solid red;
color:#000;
width: 300px;
font-size: 20px;
border: none;
border-left: 1px solid red;	
box-shadow:none;
}

#type-product-price {
	
position: absolute;
top: 240px;
left: 600px;
background:#fff;
border: 1px solid red;
color:red;
font-size:20px;
margin:auto;
padding:5px;
}

#type-product-price input{
padding:2px;
background:#fff;
border: 1px solid red;
color:#000;
width: 300px;
font-size: 20px;
border: none;
border-left: 1px solid red;	
box-shadow:none;
}

#type-product-location {
	
position: absolute;
top: 310px;
left: 600px;
background:#fff;
border: 1px solid red;
color:red;
font-size:20px;
margin:auto;
padding:5px;
}

#type-product-location input{
padding:2px;
background:#fff;
border: 1px solid red;
color:#000;
width: 300px;
font-size: 20px;
border: none;
border-left: 1px solid red;	
box-shadow:none;
}

#type-product-description {
	
position: absolute;
top: 380px;
left: 600px;
background:#fff;
border: 1px solid red;
color:#000;
font-size:20px;
margin:auto;
padding:5px;
outline: none !important;
width: 340px;
height: 115px;
}

#submit-product-button {
	
color:#fff;
background: green;
border:none;
border-radius: 5px;
position: absolute;
top:550px;
left:100px;
width: 845px;
height: 50px;
font-size: 20px;

}

#submit-product-button:disabled {
	
color:#fff;
background: rgba(0,128,0,0.3);

}

.submitOk {
position: absolute;
bottom:10px;
right:10px;
background:green;
color:#fff;
width:40px;
padding:10px;
font-weight:bold;	
cursor:pointer;	
}

.saved {
	
position:absolute;
left:120px;
top:90px;	
	
}

.submit-alert {
position:absolute;
top:200px;
left:500px;
width:400px;
height: 200px;
background:#fff;
z-index:5;	
	
}

.submit-alert .post_spinner{
position:relative;
top:80px;
	
}

.spinner-modal {
position:fixed;
top:0px;
left:0px;
width:100%;
height:100%;
z-index: 5;
background:rgba(0,0,0,.9);	
	
	
}

#camera {
	
position: relative;
top: 180px;
left:180px;
font-size:30px;
	
}

#upload-message {
	
position: relative;
top: 210px;
left:50px;
font-size:20px;
	
}

#search-holder {
font-weight:bold;
position: absolute;
top: 350px;
left: 50px;
width: 90%;
height:70px;
background:#fff;
border-radius: 5px;
background:transparent;	
	
}

#product-input, #location-input, #search-holder button{
	
height: 70px;
width:45%;
border:1px solid transparent;
font-size: 20px;
font-weight:normal;	
padding-left: 10px;
	
}

#product-input {

border-radius: 5px 0 0 5px;
border-right:1px solid #eee;
	
}

#search-holder button{

width:10%;
position:relative;
top:0px;
background:#fff;
color:red;
font-size: 20px;
font-weight:normal;
border-radius:0px 5px 5px 0px;	
	
}

#search-holder button:hover{

color:#fff;
background:red;	
	
}

#location-span{

padding: 22px;
background:#fff;	
border:1px solid transparent;
color:red;
font-size: 20px;
font-weight:normal;
border-right:1px solid #eee;	
}

#location-input{

width: 35%;	
height:60px;
border:none;
color: rgb(0,0,0,.6);	
}

#location-span:hover, #product-input:focus, #product-input:hover{
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 0px red;
}

#location-input:focus{
    outline: none !important;
    border:none;
    box-shadow:none;
}

#panafri-cover, #panafri-header{
	
width:100%;
height:auto;
display:block;	
position:absolute;
left:0px;
	
}

#panafri-cover {
	
filter: blur(20px);
-webkit-filter: blur(20px);
	
}

#panafri-header {
position:fixed;
background:transparent;
height:50px;
margin-bottom:10px;
	
}

.menu-bar{
display: block;
position: absolute;
width: 35px;
right: 2px;
top:2px;
border-radius:5px;
background:rgb(255,1,1);
cursor:pointer;
z-index: 3;
	
}

#menu-spacing {
background:red;	
min-height: 50px;	
}
.menu-bar div {

height: 4px;
width: 25px;
margin: 5px;	
background:#fff;
border-radius:100px;
transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.panafri-logo {
	
position:absolute;
top: 2px;
left:2px;
 z-index:3;	
	
}

.main-content-holder {
	
 position: absolute;
 top:600px;
 left:0px;
 width:100%;
 min-height:100%;
 background:#fff;
 
}


.seller-content-holder {
	
 position: absolute;
 top:0px;
 left:0px;
 width:100%;
 height:100%;
 background:#fff;
 z-index:1;
 
}


#toggle-menu {
	
position: absolute;
top:-2000px;
right:0px;
width: 300px;
height:	500px;
background:#fff;
border:2px solid red;
border-top:none;
transition: top 0.4s;
-webkit-transition: top 0.4s;
z-index:2;
}


.menu-holder p {

font-weight:bold;	
border-bottom:1px solid #eee;
padding:5px;
color:rgb(0,0,0,0.5);
}

.menu-holder a {
text-decoration:none;
}

.menu-holder p img {

position: relative;
top: 0px;
margin-right:5px;	
	
}

.search-close {

position: relative;
top:5px;
margin-right: 20px;
float:right;
color: rgba(0,0,0,.5);
cursor:pointer;
font-size: 20px;
	
		
}

.search-close:hover {

color: #000;	
		
}

#location-search, #product-search {
	
position:absolute;
top:0px;
left:-2000px;
background:#fff;
width:100%;
min-height:100%;
transition: left 5s;
-webkit-transition: left 1s;
z-index: 7;	
	
	
}

#modal-product-span, #modal-location-span {
position:relative;
top:50%;
left:30%;
border:1px solid red;
padding: 20px;
font-size: 20px;	
color:red;	
transition: top 1s;
-webkit-transition: top 1s;
}

#modal-product-input, #modal-location-input {

box-shadow: none;
border:none;
padding-left: 5px;
color: rgba(0,0,0,0.5);
width: 500px;
height:40px;	
	
}



@media only screen and (max-width: 1024px) {


.main-search-result {
position:relative;	
width: 150px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:auto;
margin-bottom:10px;
margin-left:5px;
border-radius:5px;

}

}

@media only screen and (max-width: 800px) {

#login-form-holder, #register-form-holder {
	
	position:absolute;
	top:100px;
	left: 50px;
}





.search-result-container{
	
padding-left:0px;		
}

.product-results{
	

width:340px;
top:370px;
left:15px;	
}

.location-results{
	
width:335px;
top:370px;
left:355px;	
}


.no-result {
 position: absolute;
 top:100px;
 left: 40px;
 font-size:20px;
	
}

#post_spinner{

position:absolute;
top:300px;
left:40%;
width:100px;
height:100px;
background:#fff;
border-radius:5px;	
}

#post_spinner div {
	
position:absolute;
top:40px;
left:40px;	
	
}

.main-search-result {
position:relative;	
width: 150px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:auto;
margin-bottom:10px;
margin-left:5px;
border-radius:5px;

}

.product-image {
width:100%;
min-height:100px;
max-height:100px;	
	
}

#toggle-menu {
	
right:0px;
width: 100%;
height:	100%;

}

.upload-product-image {

position: absolute;
top: 60px;
left: 0px;	
width: 100%;
height: 400px;
border:none;
background:#eee;	
cursor:pointer;	
}


#select-product-category {

position: absolute;
top:500px;
left:40px;
width:90%;

}

#select-product-category select{
	width:90%;
}


#type-product-name {
	
position: absolute;
top: 570px;
left: 40px;
width:90%;
}

#type-product-name input{
width:90%;
padding-left:10px;	
}


#type-product-price {
	
position: absolute;
top: 640px;
left: 40px;
width:90%;
}

#type-product-price input{
width:90%;
padding-left:10px;	
}

#type-product-location {
	
position: absolute;
top: 710px;
left: 40px;
width:90%;
}

#type-product-location input{
width:90%;
padding-left:10px;	
}


#type-product-description {
	
position: absolute;
top: 780px;
left: 40px;
width:90%;
}

#submit-product-button {
	
top:940px;
left:40px;
width: 90%;
height: 50px;
margin-bottom:20px;
}


.add-a-product, .add-a-service {
	
position:relative;
background:#ddd;
width: 100%;
height: 200px;
border:none;
color: rgba(0,0,0,0.5);
display: inline-block;
margin:auto;
margin-top:5px;
left: 0px;
cursor:pointer;	
	
}

.add-message{
	
position: relative;
top:50px;
left:80px;
margin:5px;
font-size:20px;	
}

 .plus {
	
position: relative;
top:30px;
left:160px;
margin:5px;
font-size:80px;	
	
}
	
#search-holder {
font-weight:bold;
position: absolute;
top: 300px;
left: 15px;
width: 95%;
height:70px;
border-radius: 5px;
background:transparent;	
	
}

#search-holder button{
	
background:red;
color:#fff;	
	
}

#product-input, #location-span {
	
width: 45%;
border-bottom: 1px solid #eee;	
	
	
}
}

@media only screen and (max-width: 768px) {


.main-search-result {
position:relative;	
width: 150px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:auto;
margin-bottom:10px;
margin-left:5px;
border-radius:5px;

}

}

@media only screen and (max-width: 752px) {
	
#search-holder button{

width:50px;
}
	
}

@media only screen and (max-width: 634px) {
	
#search-holder button{

width:45px;
}
	
}


@media only screen and (max-width: 606px) {

.product-results{
	

width:240px;
top:320px;
left:15px;	
}

.location-results{
	
width:300px;
top:320px;
left:255px;	
}

.main-search-result {
position:relative;	
width: 150px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:auto;
margin-bottom:10px;
margin-left:0px;
border-radius:5px;

}

.product-image {
width:100%;
min-height:100px;
max-height:100px;	
	
}

.upload-product-image {

position: absolute;
top: 60px;
left: 0px;	
width: 100%;
height: 400px;
border:none;
background:#eee;	
cursor:pointer;	
}


#select-product-category {

position: absolute;
top:500px;
left:25px;
width:90%;

}

#select-product-category select{
	width:90%;
}


#type-product-name {
	
position: absolute;
top: 570px;
left: 25px;
width:90%;
}

#type-product-name input{
width:90%;
padding-left:10px;	
}


#type-product-price {
	
position: absolute;
top: 640px;
left: 25px;
width:90%;
}

#type-product-price input{
width:90%;
padding-left:10px;	
}

#type-product-location {
	
position: absolute;
top: 710px;
left: 25px;
width:90%;
}

#type-product-location input{
width:90%;
padding-left:10px;	
}


#type-product-description {
	
position: absolute;
top: 780px;
left: 25px;
width:90%;
}

#submit-product-button {
	
top:940px;
left:25px;
width: 90%;
height: 50px;
margin-bottom:20px;
}



#product-input, #location-span {
	
width: 42%;
border-bottom: 1px solid #eee;	
	
	
}

#search-holder {

top:250px;
}	
	
}

@media only screen and (max-width: 552px) {
	
#search-holder button{

width:45px;
}
	
}

@media only screen and (max-width: 528px) {
	
#search-holder button{

width:40px;
}
	
}

@media only screen and (max-width: 508px) {

#login-form-holder, #register-form-holder {
	
	position:absolute;
	top:100px;
	left: 0px;
	background:#fff;
	border: 20px solid red;
	border-radius:5px;
	width:100%;
	height:400px;

}


.register-form-error, .login-form-error {
position:absolute;
top: 570px;
left:0px;	
background:red;
color:#fff;
width:100%;
height:30px;
font-size:15px;	
border-radius:5px;
}

#register-login, #login-register, #recover-password {
	
	position: absolute;
	top:400px;
	left:40px;
	
}

.login-form-error {
	
	top:470px;
	
}

 #login-register {
top: 290px;	
	
 }
 
 #recover-password {

 top: 320px;
 
 }

#register-form-holder {

height:500px;	
	
}

#type-register-phone, #type-register-confirm, #type-register-name {

position:absolute;
top: 100px;	
left:40px;

font-size:25px;

}

#type-register-name {
	
top: 30px;	
	
}

#type-register-phone input, #type-register-confirm input, #type-register-name input {

width:85%;
box-shadow:none;
font-size: 20px;
position:relative;
top: -5px;
left:10px;
border:none;
border-right:1px dotted;
}

#type-register-confirm input:focus, #type-register-name input:focus, #type-register-phone input:focus {
border:none;
border-bottom: 2px solid red;	
	
}


#type-login-email, #type-register-email {

position:absolute;
top: 100px;	
left:40px;

font-size:25px;

}

#type-register-phone {

top:170px;	
	
}



#type-login-email input, #type-register-email input {

width:85%;
box-shadow:none;
font-size: 20px;
position:relative;
top: -5px;
left:10px;
border:none;
border-right:1px dotted;
}

#type-login-email input:focus, #type-register-email input:focus {
border:none;
border-bottom: 2px solid red;	
	
}

#type-login-password, #type-register-password {

position:absolute;
top: 200px;	
left:40px;

font-size:25px;

}

#type-register-password {

top:240px;	
	
}

#type-register-confirm {

top:310px;	
	
}

#type-login-password input, #type-register-password input {

width:85%;
box-shadow:none;
font-size: 20px;
position:relative;
top: -5px;
left:10px;
border:none;
border-right:1px dotted;

}

#type-login-password input:focus, #type-register-password input:focus {
border:none;
border-bottom: 2px solid red;	
	
}



#login-button, #register-button {

position:absolute;
top: 400px;	
left:0px;
color:red;
width: 100%;
height:50px;
color:#fff;
background: red;
border:none;
border-radius: 5px;
font-size: 20px;
	
}

#register-button {
	
	top:500px;
	
}

.product-results{
	
width:100%;
top:195px;
left:0px;	
}

.location-results{
	
width:100%;
top:195px;
left:0px;	
}

.search-title {

position:absolute;
top: 5px;
left:70px;
font-size:20px;
	
}

#select-product-category {

position: absolute;
top:500px;
left:20px;

}


#type-product-name {
	
position: absolute;
top: 570px;
left: 20px;
}


#type-product-price {
	
position: absolute;
top: 640px;
left: 20px;

}


#type-product-location {
	
position: absolute;
top: 710px;
left: 20px;

}


#type-product-description {
	
position: absolute;
top: 780px;
left: 20px;

}

#submit-product-button {
	
top:940px;
left:10px;
width: 95%;
height: 50px;
margin-bottom:20px;
}

.add-a-product, .add-a-service {
	
position:relative;
background:#ddd;
width: 100%;
height: 200px;
border:none;
color: rgba(0,0,0,0.5);
display: inline-block;
margin:auto;
margin-top:5px;
left: 0px;
cursor:pointer;	
	
}

.add-message{
	
position: relative;
top:50px;
left:90px;
margin:auto;

font-size:20px;	
}

 .plus {
	
position: relative;
top:30px;
left:160px;
margin:auto;

font-size:80px;	
	
}


#search-holder {
font-weight:bold;
position: absolute;
top: 200px;
left: 15px;
border-radius: 5px;
background:transparent;	
width:95%;
	
}

#product-input, #location-span {
	
width: 49%;
border:none;
font-size:15px; 
border:1px solid transparent;
border-bottom:1px solid transparent;
max-height:64px;		
	
}

#location-span, #location-input {
	
	width: 20%;
	font-size:15px;
	
}

#product-input {
	
position:relative;
top: 0px; 
	
}

#search-holder button{

border:none;
width:11%;	
max-height:64px;
position:relative;
top: 2px; 	
}

}


@media only screen and (max-width: 414px) {

.product-results{
	
width:100%;
top:195px;
left:0px;	
}

.location-results{
	
width:100%;
top:195px;
left:0px;	
}

#select-product-category {

position: absolute;
top:500px;
left:20px;

}


#type-product-name {
	
position: absolute;
top: 570px;
left: 20px;
}


#type-product-price {
	
position: absolute;
top: 640px;
left: 20px;

}


#type-product-location {
	
position: absolute;
top: 710px;
left: 20px;

}


#type-product-description {
	
position: absolute;
top: 780px;
left: 20px;

}

#submit-product-button {
	
top:940px;
left:10px;
width: 95%;
height: 50px;
margin-bottom:20px;
}

.add-a-product, .add-a-service {
	
position:relative;
background:#ddd;
width: 100%;
height: 200px;
border:none;
color: rgba(0,0,0,0.5);
display: inline-block;
margin:auto;
margin-top:5px;
left: 0px;
cursor:pointer;	
	
}

.add-message{
	
position: relative;
top:50px;
left:90px;
margin:auto;

font-size:20px;	
}

 .plus {
	
position: relative;
top:30px;
left:160px;
margin:auto;

font-size:80px;	
	
}


#search-holder {
font-weight:bold;
position: absolute;
top: 130px;
left: 15px;
border-radius: 5px;
background:transparent;	
width:95%;
	
}

#product-input, #location-span {
	
width: 49%;
border:none;
font-size:15px; 
border:1px solid transparent;
border-bottom:1px solid transparent;
max-height:64px;		
	
}

#location-span, #location-input {
	
	width: 20%;
	font-size:15px;
	
}

#product-input {
	
position:relative;
top: 0px; 
	
}

#search-holder button{

border:none;
width:11%;	
max-height:64px;
position:relative;
top: 2px; 	
}

}

@media only screen and (max-width: 384px) {

#select-product-category {

position: absolute;
top:500px;
left:23px;

}


#type-product-name {
	
position: absolute;
top: 570px;
left: 23px;
}


#type-product-price {
	
position: absolute;
top: 640px;
left: 23px;

}


#type-product-location {
	
position: absolute;
top: 710px;
left: 23px;

}


#type-product-description {
	
position: absolute;
top: 780px;
left: 23px;

}

#submit-product-button {
	
top:940px;
left:21px;
width: 90%;
height: 50px;
margin-bottom:20px;
}


#search-holder {
font-weight:bold;
position: absolute;
top: 130px;
left: 5px;
border-radius: 5px;
background:transparent;	
width:98%;
	
}

#product-input, #location-span {
	
width: 49%;
border:none;
font-size:15px; 
border:1px solid transparent;
border-bottom:1px solid transparent;
max-height:64px;		
	
}

#location-span, #location-input {
	
	width: 20%;
	font-size:15px;
	
}

#product-input {
	
position:relative;
top: 0px; 
	
}

#search-holder button{

border:none;
width:11%;	
max-height:64px;
position:relative;
top: 2px; 	
}

.upload-product-image {

position: absolute;
top: 60px;
left: 0px;	
width: 100%;
height: 400px;
border:none;
background:#eee;	
cursor:pointer;	
}

#uploadedContainer{
	
position:absolute;
top:60px;
left:0px;
z-index:5;
background:#ddd;
width:100%;	
	
}

#uploadedContainer #deletePhoto {
position:absolute;
top: 0px;
right:0px;
background:red;
color:#fff;
width: 30px;
height:30px;
cursor:pointer;	
	
}

#uploadedContainer #deletePhoto span {
position:absolute;
top:0px;
right:10px;
color:#fff;
font-size: 20px;	
	
}

.showUploaded img {

width:100%;
height:auto;
max-height:400px;	
	
}

}

@media only screen and (max-width: 360px) {


.main-search-result {
position:relative;	
width: 170px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-bottom:10px;
margin-left:5px;
border-radius:5px;

}

.product-image {
width:100%;
min-height:100px;
max-height:100px;	
	
}
#select-product-category {

position: absolute;
top:500px;
left:20px;

}


#type-product-name {
	
position: absolute;
top: 570px;
left: 20px;
}


#type-product-price {
	
position: absolute;
top: 640px;
left: 20px;

}


#type-product-location {
	
position: absolute;
top: 710px;
left: 20px;

}


#type-product-description {
	
position: absolute;
top: 780px;
left: 20px;

}

#submit-product-button {
	
top:940px;
left:20px;
width: 90%;
height: 50px;
margin-bottom:20px;
}	
	
}

@media only screen and (max-width: 610px) {
	
.main-search-result {
	
width: 190px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

.send-request {
	
left:25%;	
}

.product-name {
font-size:12px;	
}

.new-product-price {
font-size:15px;	
}

.content-title {
font-size:20px;	
}
	
}

@media only screen and (max-width: 599px) {
	
.main-search-result {
	
width: 180px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

@media only screen and (max-width: 571px) {
	
.main-search-result {
	
width: 150px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}


.send-request {
	
left:25%;	
}

.product-name {
font-size:12px;	
}

.new-product-price {
font-size:15px;	
}

.content-title {
font-size:20px;	
}
	
}

@media only screen and (max-width: 483px) {
	
.main-search-result {
	
width: 140px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}
}

@media only screen and (max-width: 453px) {
	
.main-search-result {
	
width: 126px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

.product-name {
	font-size:10px;
	
}
}

@media only screen and (max-width: 407px) {
	
.main-search-result {
	
width: 180px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

.product-name {
	font-size:15px;
	
}

}

@media only screen and (max-width: 379px) {
	
.main-search-result {
	
width: 169px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

.product-name {
	font-size:15px;
	
}

}

@media only screen and (max-width: 358px) {
	
.main-search-result {
	
width: 160px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

.product-name {
	font-size:12px;
	
}

}

@media only screen and (max-width: 340px) {
	
.main-search-result {
	
width: 149px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

@media only screen and (max-width: 319px) {
	
.main-search-result {
	
width: 134px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

.product-name {
	font-size:10px;
	
}

}

.product-name {
	font-size:10px;
	
}

}


@media only screen and (max-width: 328px) {

#login-form-holder, #register-form-holder {
	
	border: 10px solid red;

}

#register-login, #login-register, #recover-password {
	

	left:80px;
	
}

#type-register-phone, #type-register-email,  #type-login-email, #type-register-password, #type-login-password, #type-register-confirm, #type-register-name {


left:30px;

}

#camera {
	
position: relative;
top: 180px;
left:150px;
font-size:30px;
	
}

#upload-message {
	
position: relative;
top: 210px;
left:50px;
font-size:15px;
	
}


#search-holder {
font-weight:bold;
position: absolute;
top: 130px;
left: 5px;
border-radius: 5px;
background:transparent;	
width:98%;
	
}

#product-input, #location-span {
	
width: 51%;
border:none;
font-size:15px; 
border:1px solid transparent;
border-bottom:1px solid transparent;
max-height:64px;		
	
}

#location-span, #location-input {
	
	width: 22%;
	font-size:15px;
	padding-left:2px;
	
}

#product-input {
	
position:relative;
top: 0px;
padding-left:5px; 
border-right: 1px solid #eee;	
}

#search-holder button{

border:none;
width:11%;	
max-height:64px;
position:relative;
top: 2px; 	
}

}



@media only screen and (max-height: 360px) {

.main-search-result {
position:relative;	
width: 100px;
height:200px;
background:#fff;
border:1px solid #ddd;
display:inline-block;	
margin:5px;
margin-left:5px;
margin-bottom:5px;
border-radius:5px;

}

.main-content-holder {

 top:250px;
 
}


#search-holder {
font-weight:bold;
position: absolute;
top: 200px;
left: 40px;
width: 90%;
height:70px;
background:#fff;
border-radius: 5px;
background:transparent;	

	
}

#product-input, #location-span {
	
width: 40%;
border-bottom: 1px solid #eee;	
	
	
}

#search-holder button{

border-bottom: 1px solid #eee;	
	
}

}




@media only screen and (max-height: 1280px)and (max-width: 800px) {

.main-content-holder {

 top:400px;
 
}
@media only screen and (max-height: 900px) {

.main-content-holder {

 top:200px;
 
}

@media only screen and (max-height: 640px) {

.main-content-holder {

 top:200px;
 
}





